$blue: #0093d7;
$white: #fff;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header::after,
.main::after {
  clear: both;
  content: ' ';
  display: table;
}

.header {
  background-color: $blue;
  height: 180px;
  padding: 8px;
  position: fixed;
  width: 100%;

  &__text {
    color: $white;
    display: inline-block;
    float: left;
    font-size: 2.2em;
    padding: 20px 18px 0 0;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
  }
}

.main {
  font-size: 20px;
  line-height: 1.7;
  margin: 0 auto;
  max-width: 960px;
  padding: 206px 36px;
  text-align: justify;
  width: 100%;
}

.useful-links {
  list-style: none;
  padding-left: 16px;

  li::before {
    color: $blue;
    content: '-';
    padding: 8px;
  }
}

@media all and (max-width: 1024px) {
  .header {
    height: 150px;

    &__text {
      font-size: 1.8em;
      padding: 12px;
    }
  }

  .main {
    padding: 186px 36px;
  }
}

@media all and (max-width: 768px) {
  .header {
    height: 140px;

    &__text {
      font-size: 1.6em;
      padding: 18px 2px 0 0;
    }
  }

  .main {
    padding: 176px 24px;
  }
}

@media all and (max-width: 576px) {
  .header {
    height: 86px;

    &__text {
      font-size: 1em;
      padding: 8px;
    }
  }

  .main {
    font-size: 1em;
    padding: 112px 24px;
  }
}

@media all and (max-width: 360px) {
  .header {
    height: 64px;

    &__text {
      font-size: .6em;
    }
  }

  .main {
    padding: 90px 24px;
  }
}
